body {
	min-height: 100vh;
	margin: 0;
}

/* scroll-bar */
/* width */
::-webkit-scrollbar {
	width: 14px;
	height: 14px;
}

/* Track */
::-webkit-scrollbar-track {
	background: var(--background-color-1);
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: var(--background-color-3);
	border-radius: 10px;
	border: solid 4px var(--background-color-1);
}
